
.login-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E6E6E6;
    display: grid;
    place-items: center;
}
.login-box-container {
    background-color: white;
    box-shadow: 0.1rem 0.5rem 0.5rem lightgrey;
    border: 0.1rem solid grey;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 30%;
}
button {
    border: 0;
    background: linear-gradient(to bottom right, lightgreen, lightgreen);
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 0.3rem;
    cursor: pointer;
}
.login-box-container > input, button {
    padding: 1rem;
    margin: 1rem 0;
}
@media(max-width: 76rem) {
    .login-box-container {
        width: 80%;
    }
}