.main-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.main-container-child-1 {
    height: 5rem;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1rem solid lightgrey;
    padding: 0 2rem;
}

.main-container-child-3 {
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    gap: 1.5rem 1%;
    padding: 1rem;

}


.call-history-container-summary-filter {
    height: 5rem;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.1rem solid lightgrey;
}

@media(max-width: 76rem) {
.main-container-child-3 {
    grid-template-columns: 100%;
}
}